name: Deploy lambda function from source
on: [push]
jobs:
  deploy_source:
    name: Deploy lambda function from source
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install zip
        uses: montudor/action-zip@v1

      - name: Zip output
        run: zip -r ../../hello.zip . -i hello.py
        working-directory: ./
      # - name: Install zip
      #   uses: montudor/action-zip@v1
      # - name: Zip output
      #   run: zip -r hello.zip . -i hello.py
      #  working-directory: ./

      - name: checkout source code
        uses: actions/checkout@v3
      - name: Auth AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.SECRET_KEY }}
      - name: Update of Lambda
        run: >

          aws lambda update-function-code
          --function-name lambda_function_name
          --zip-file fileb://hello.zip
